{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File</title>
</head>
<body>
  {% block content %}

    <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p> <input type = "submit" value = "Save"> </p>
    </form>  

  {% endblock content %}

  
</body>
</html>