{% extends "base.html" %}
{% load static %}
{% load martortags %}


{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="martor-preview">
    <h1>{{ post.title }}</h1>
    {% if object.is_recent %}
      <p>First view of this file, please save your link before leave this page.</p>
    {% endif %}
    <hr />
    {{ post.content|safe_markdown }}
  </div>



  {% if user.is_authenticated %}

    <div class="row justify-content-end mb-3">
      <div class="col-3">
        <span><a href="{% url 'post-edit' object.id %}"><input type="button" class="btn btn-secondary" style="width:100%;" value="Edit"></a></span>
      </div>
      
      
    </div>

    {% if object.get_token_count > 0 %}
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Url Token</th>
          <th scope="col">View Count</th>
          <th scope="col">End Count</th>
          <th scope="col">End Time</th>
        </tr>
      </thead>
      <tbody>
      {% for token in object.token.all %}
        <tr>
          <th scope="row">1</th>
          {% if  request.GET.token  %}
            <td>{{ request.build_absolute_uri }}</td>
          {% else %}
            <td>{{ request.build_absolute_uri }}?token={{ token.token }}</td>
          {% endif %}
          <td>{{ token.counter }}</td>
          <td>{{ token.enabled_count }}</td>
          <td>{{ token.enabled_to }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
    {% endif %}
  {% endif %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
  </script>
{% endblock %}